
*.class

*.cache

*/target/*

tareas/funsets/\.idea/libraries/

tareas/funsets/project/target/

tareas/funsets/project/target/scala-2\.10/sbt-0\.13/classes/sbt/

tareas/funsets/project/target/scala-2\.10/sbt-0\.13/resolution-cache/default/funsets-build/scala_2\.10/sbt_0\.13/0\.1-SNAPSHOT/

tareas/funsets/project/target/scala-2\.10/sbt-0\.13/resolution-cache/reports/

tareas/funsets/project/target/streams/compile/compileIncremental/\$global/streams/

tareas/funsets/project/target/streams/compile/copyResources/\$global/streams/

tareas/funsets/project/target/streams/compile/externalDependencyClasspath/\$global/streams/

tareas/funsets/target/streams/compile/externalDependencyClasspath/\$global/streams/export

tareas/funsets/target/streams/compile/managedClasspath/\$global/streams/export

tareas/funsets/target/streams/compile/unmanagedClasspath/\$global/streams/export

tareas/funsets/target/streams/runtime/externalDependencyClasspath/\$global/streams/export

tareas/funsets/target/streams/runtime/managedClasspath/\$global/streams/export

tareas/funsets/target/streams/runtime/unmanagedClasspath/\$global/streams/

tareas/funsets/target/streams/test/managedClasspath/\$global/streams/

tareas/funsets/target/streams/\$global/\$global/dumpStructure/\$global/streams/

tareas/funsets/target/streams/\$global/coursierArtifacts/\$global/streams/

tareas/funsets/target/streams/\$global/update/\$global/streams/

tareas/funsets/target/streams/runtime/unmanagedJars/\$global/streams/

tareas/funsets/target/streams/compile/unmanagedJars/\$global/streams/

tareas/funsets/target/streams/\$global/coursierClassifiersArtifacts/\$global/streams/out

tareas/funsets/target/streams/\$global/coursierResolutions/\$global/streams/

tareas/funsets/target/streams/\$global/projectDescriptors/\$global/streams/out

tareas/funsets/target/streams/\$global/updateClassifiers/\$global/streams/out

tareas/funsets/target/streams/test/externalDependencyClasspath/\$global/streams/export

tareas/funsets/target/streams/test/unmanagedClasspath/\$global/streams/export

tareas/funsets/target/streams/test/unmanagedJars/\$global/streams/
